[user]
   name = Eric Ren
   email = *
[sendemail]
   smtpencryption = tls
   smtpuser = zren
   smtpserver = *
   smtpserverport = 25
   suppresscc = all
   smtppass = @@SMTPPASS@@
   confirm = always

   aliasesFile = ~/.mutt/alias
   aliasFileType = mutt 
[commit]
	template = ~/.gitmessage.txt
[color]
	ui = true
[push]
	default = simple

[diff "default"]
   xfuncname = "^[[:alpha:]$_].*[^:]$"
